html{
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

/* windmill: https://codepen.io/Coding-Artist/pen/XLMWYw  */

/* driving truck: https://codepen.io/ChrisJohnson/pen/OyXWpr */

#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header{
  grid-area: header;
  background-color: #242331;
  /* background-image: radial-gradient(#EECDA3, #242331 95%); */
  color: #ffffff;
  display: flex;
  border: 10px solid transparent;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.brand a{
  color: #EECDA3;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}

.brand > a:hover{
  color:#242331;
	box-shadow: 0 100px 10px rgba(238, 205, 163,0.85) inset;
}

.header-links a{
  color:#EECDA3;
  text-decoration: none;
  padding: 1rem;

}

.header-links > a:hover{
  color:#242331;
	box-shadow: 0 100px 10px rgba(238, 205, 163,0.85) inset;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: #242331;
  color: #EECDA3;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}

.products a:hover{
  color:#242331;
  box-shadow: 0 100px 10px rgba(238, 205, 163,0.85) inset;
}

.services a:hover{
  color:#242331;
  box-shadow: 0 100px 10px rgba(238, 205, 163,0.85) inset;
}

.titleOnPage{
  text-align: center;
}

/* Home Screen */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.30);
  border-radius: 6px;
  width: 1000px;
  height: 100%;
  margin: 80px auto;

}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-brand{
  font-size: 1.2rem;
  color:#808080;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-image{
  max-width: 34rem;
  max-height: 34rem;
}
.product-rating{
  margin-bottom: 1rem;
}
.product-description {
  background-color: #EECDA3;
  padding: 10px;
  border-radius: 10px;
}

/* SERVICE HOME SCREEN */
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchService {
  width: 50%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 0px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm{
  color: #000000;
  margin: 5px;
  padding: 16px;
  width: 25px;
}

.searchButton {
  width: 25px;
  height: 25px;
  border: 1px solid #EECDA3;
  background: #EECDA3;
  align-self: center;
  text-align: center;
  border-radius: 0 20px 20px 0;
  padding: 10rem;
  cursor: pointer;
}


.fa.fa-search{
  /* border: 3px solid blue; */
  display: flex;
  margin: 0px;
  padding: 0px;
}

.column {
  float: left;
  padding: 10rem;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.toggle-bar{
  width: 100px;
}

.toggleButton {
  min-width: 160px;
  height: 30px;
  border: 1px solid #663F46;
  background: #663F46;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  padding: 6px;
}
/*Resize the wrap to see the search bar change!*/


.label-search {
  margin-left: 60px;
}

/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 87px;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.30);
  z-index: 1;
}

.wrap{
  width: 70%;
  top: 50%;
  left: 50%;
  /* border: 3px solid blue; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}


.column{
  max-width: 150px;
  display: flex;
  border-radius: 10px;
   /*background-color: white;*/
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 6px;
}

.column-search{
  max-width: 200px;
  display: flex;
  border-radius: 10px;
  /* background-color: white; */
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 6px;
}


.row{
  /* border: 3px solid red; */
  background-color: #92DCE5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.30);
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.30);
  border-radius: 6px;
  width: 1000px;
  height: 100%;
  margin: 80px auto;
}

.services li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
  /* border-bottom: .1rem #c0c0c0 solid; */
  justify-content: center;
}
.service{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  list-style-type: none;
  align-items: center;
}

.service-name{
  font-size: 2rem;
  font-weight: bold;
}
.service-type{
  font-size: 1.2rem;
  color:#808080;
}
.service-price{
  font-size: 2rem;
  font-weight: bold;
}
.service-image{
  max-width: 34rem;
  max-height: 34rem;
}

.service-category{
  margin-bottom: 1rem;
}


.details{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.details-action{
  flex: 1 1 60rem;
  margin-right: 10%;
}

.details-image{
  flex: 2 1 30rem;
  padding-left: 10%;
}

.details-image img{
  max-width:60rem ;
  widows: 100%;
}

.details-info{
  flex: 1 1 30rem;
}

.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}

.details-info li, .details-action li{
  margin-bottom:1rem;

}

.back-2-result{
  max-width: 200px;
  padding: 1rem;
  padding-left: 10%;
  position: center;
}

.details-action{
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  padding: 2%;
  

}

.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}

.button{
  padding: 1rem;
  border: .1rem #808080 solid;
  border-radius: 1rem;
  cursor: pointer;
}

.button:hover{
  border: .1rem darkgoldenrod solid;
}
.button-primary-add{
  padding: 1rem;
  border: .1rem #92dce5 solid;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #92dce5 ;
}


/*Login, Register Form */
.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 50;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: gold;
  border: 1px solid gold;
  color: black;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #ffd344 ;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
 }

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.input-container2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  width: 25%;
}


/* Sidebar */

/* Hamburger menu button */

.brand {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.brand button {
  font-size: 3rem;
  padding: 1rem;
  background: none;
  border: none;
  color:#EECDA3;
  cursor: pointer;
}

.brand > button:hover {
  color:#242331;
	box-shadow: 0 100px 10px rgba(238, 205, 163,0.85) inset;
}

.menu-title{
  color:#EECDA3;
  font-size: x-large;
  padding:3px;
  margin-left: 6px;
}

.menu{
  margin-left: 0px;
  padding-left: 6px;
  /* border: 3px solid gray; */
}

.sidebar-category{
  list-style-type:lower-latin;
  font-size: large;
  padding: 3px 3px 36px;
  color: white;
  background-color: #242331 ;
  /* border: 3px solid gray; */
}

.menu-category{
  color: #EECDA3;
  /* font-weight: bold; */
  padding:6px;
  /* margin-left: 0px; */
  margin-bottom: 6px ;
  border-style: none none solid;
  /* border: 3px solid gray; */
}

.sidebar-category > a:hover{
  color:#242331;
	box-shadow: 0 100px 10px rgba(238, 205, 163,0.85) inset;
}

.sidebar{
  position: fixed;
  transition: all .5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #242331;
  text-decoration: none;
  height: 100%;
  z-index: 1000;
}

.sidebar.open{
  transform: translateX(0);
}

.sidebar-close-button{
  border-radius: 50%;
  border: .1rem #EECDA3 solid;
  color: #EECDA3;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem;
  font-family: monospace;
  background-color: #242331;
}

.sidebar-close-button:hover{
  border-radius: 50%;
  border: .1rem #242331;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  color: #242331;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem;
  font-family: monospace;
  background-color: #EECDA3;
}


/*=======================================================================================*/
body {
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: linear-gradient(to right, #eecda3, #ee9bbf);
  min-height: 100vh;
  /* font-size: 62.5%;
  margin: 0 auto;

  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #7EC855;
  font-family: 'Roboto', sans-serif; */
}

/*===========================================================================================*/
/* Cart Screen CSS*/
/*===========================================================================================*/

* {
  box-sizing: border-box;
}

.shopping-cart {
  border: 8px solid white;
    border-radius: 10px;
    opacity: 90%;
    margin: 2% 15% 3%;
    padding: 5px 0px 5px;
    background-color: white;
}

.all-items{
  /* border: 8px solid white;
  border-radius: 10px;
  opacity: 90%;
  margin: 2% 15% 3%;
  padding: 5px 0px 5px;
  background-color: white; */
  display: flexbox;
  justify-content: space-around;
  /* border: 1px solid red; */
  align-items: center; 
  align-content: center; 
  flex-direction: row;
  width: 96%;
  padding-bottom: 20px;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.columnNames {

  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #E1E8EE;
  align-items: center; 
  align-content: center; 
  flex-direction: row;
  padding-bottom: 20px;

}


.product-item, .service-item {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid orange; */
  align-items: center; 
  align-content: center; 
  flex-direction: row;
  width: 100%;
  padding-bottom: 20px;
}

.product-items, .service-items{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid green; */
  border-bottom: 2px solid gray;
  align-items: center; 
  align-content: center; 
  width: 100%;
  flex-direction: row;
  padding-bottom: 20px;
}

.service-item {
  padding: 20px;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center; 
  align-content: center; 
  flex-direction: row;
  flex-wrap: wrap;
}

.product-info {
  border: 3px solid yellow;
  padding-right: 36%;
  /* margin-left: 16%; */
  margin: 0 auto;
  /* height: 120px; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content:space-between;
  overflow: auto; 
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

.image {
  /* border: 3px solid gray; */
  margin:0px;
  padding:0px;
  /* margin-right: 50px; */
  /* width: 100px; */
  display: flex;
  justify-content: left;
  align-items:flex-start;
}
 
/* Let’s add some basic style to  product name and description. */
.description {
  /* border: 3px solid blue; */
  display: inline;
  justify-content: left;
  /* align-items:stretch; */
  padding-left: 0px;
  /* padding-right: 36%; */
  margin-left: 0px;
  /* margin-right: 25px; */
  width: 16%;
}
 
/* .description span {
  display: flex;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
} */

.quantity {
  padding: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 35px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 2px;
}
.plus-btn img {
  margin-top: 2px;
}
.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}



link[href='https://css.gg/trash.css']{
  border: 3px solid red;
}
button:focus,
input:focus {
  outline: 0;
}

.total-price {
  /* width: 80px; */
  /* padding: 10px;
  padding-right: 120px; */
  padding-right: 45px;
  /* padding-left: 45px; */
  display: flex;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.total{
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  font-size: x-large;
  /* font-size: 36px; */
  /* font-family: "Open Sans"; */
  font-weight: bold;
  color: #202020;
  padding: 3px 15px;
 }

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  
  .quantity,
  .description {
    border: 3px solid red;
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }

/*Checkout section css */
  hr{
    width: 66%;
    float: right;
    margin-right: 5%;
  }
   .checkout{
    float: right;
    margin-right: 5%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   .total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    /* font-size: 36px; */
    font-family: "Open Sans";
    font-weight: 900;
    color: #202020;
   }

  .checkout-button{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(bottom right, #B8D7FF, #8EB7EB);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 600;
    color: #202020;
   }
}


/*===========================================================================================*/
/* Cart Screen CSS END*/
/*===========================================================================================*/