html{
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

/* windmill: https://codepen.io/Coding-Artist/pen/XLMWYw  */

/* driving truck: https://codepen.io/ChrisJohnson/pen/OyXWpr */

#root{
  height: 100%;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.brand a{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a{
  color:#ffffff;
  text-decoration: none;
  padding: 1rem;

}
.header-links a:hover{
  color:#ff8000;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}
a:hover{
  color:#ff8000
}
/* Home Screen */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  width: 1000px;
  height: 100%;
  margin: 80px auto;

}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-brand{
  font-size: 1.2rem;
  color:#808080;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-image{
  max-width: 34rem;
  max-height: 34rem;
}
.product-rating{
  margin-bottom: 1rem;
}

/* SERVICE HOME SCREEN */
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchService {
  width: 50%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 0px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm{
  color: #000000;
  margin: 5px;
  padding: 16px;
  /* border: 3px solid blue; */
  /* text-align: center; */
}

.searchButton {
  width: 40px;
  height: 25px;
  border: 1px solid #ffffff;
  background: #63ad12;
  align-self: center;
  text-align: center;
  border-radius: 0 20px 20px 0;
  padding: 10rem;
  cursor: pointer;
}


.fa.fa-search{
  /* border: 3px solid blue; */
  display: flex;
  margin: 0px;
  padding: 0px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.toggle-bar{
  width: 100px;
}
.toggleButton {
  min-width: 160px;
  height: 30px;
  border: 1px solid #ffffff;
  background: #63ad12;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  padding: 6px;
}
/*Resize the wrap to see the search bar change!*/


.label-search {
  margin-left: 60px;
}

/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 87px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.wrap{
  width: 50%;
  top: 50%;
  left: 50%;
  /* border: 3px solid blue; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5%; */
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column{
  /* border: 3px solid blue; */
  display: flex;
  border-radius: 10px;
  /* background-color: white; */
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 6px;
}


.row{
  /* border: 3px solid red; */
  background-color: #d5faff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0;
}

.service li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}
.service{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.service-name{
  font-size: 2rem;
  font-weight: bold;
}
.service-type{
  font-size: 1.2rem;
  color:#808080;
}
.service-price{
  font-size: 2rem;
  font-weight: bold;
}
.service-image{
  max-width: 34rem;
  max-height: 34rem;
}
.service-category{
  margin-bottom: 1rem;
}

.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-action{
  flex: 1 1 60rem;
}

.details-image{
  flex: 2 1 30rem;
}

.details-image img{
  max-width:60rem ;
  widows: 100%;
}

.details-info{
  flex: 1 1 30rem;
}

.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}

.details-info li, .details-action li{
  margin-bottom:1rem;
}

.back-2-result{
  padding: 1rem;
}

.details-action{
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: whitesmoke;
}

.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}

.button{
  padding: 1rem;
  border: .1rem #808080 solid;
  border-radius: 1rem;
  cursor: pointer;
}

.button:hover{
  border: .1rem darkgoldenrod solid;
}
.button-primary-add{
  padding: 1rem;
  border: .1rem #808080 solid;
  border-radius: 1rem;
  cursor: pointer;
  background-color: gold ;
}


/*Login, Register Form */
.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 50;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: gold;
  border: 1px solid gold;
  color: black;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #ffd344 ;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
 }

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.input-container2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  width: 25%;
}


/* Sidebar */

/* Hamburger menu button */
.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color:#ffffff;
  cursor: pointer;
}

.menu-title{
  color:white;
  font-size: x-large;
  padding:3px;
  margin-left: 6px;
}

.menu{
  margin-left: 0px;
  padding-left: 6px;
  /* border: 3px solid gray; */
}

.sidebar-category{
  list-style-type:lower-latin;
  font-size: large;
  padding: 3px 3px 36px;
  color: white;
  background-color: #203040 ;
  /* border: 3px solid gray; */
}

.menu-category{
  color: white;
  /* font-weight: bold; */
  padding:6px;
  /* margin-left: 0px; */
  margin-bottom: 6px ;
  border-style: none none solid;
  /* border: 3px solid gray; */
}

.sidebar{
  position: fixed;
  transition: all .5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #203040;
  text-decoration: none;
  height: 100%;
}

.sidebar.open{
  transform: translateX(0);
}

.sidebar-close-button{
  border-radius: 50%;
  border: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem;
  font-family: monospace;
}

.sidebar-close-button:hover{
  border-radius: 50%;
  border: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  color: rgb(255, 81, 0);
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem;
  font-family: monospace;
}


/*=======================================================================================*/
body {
  background: #eecda3;
  background: -webkit-linear-gradient(to right, #eecda3, #ef629f);
  background: linear-gradient(to right, #eecda3, #ef629f);
  min-height: 100vh;
  /* font-size: 62.5%;
  margin: 0 auto;

  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #7EC855;
  font-family: 'Roboto', sans-serif; */
}

/*===========================================================================================*/

* {
  box-sizing: border-box;
}

.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  /* background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center; */
  background:#850505;
}
 
.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  /* background: url('twitter-heart.png'); */
  background: #203040;
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

.image {
  margin-right: 50px;
}
 
/* Let’s add some basic style to  product name and description. */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}